body{
    margin: 0;
    background-color: #1F1F1F;
    
  }
  .logo{
    position: relative;
    left: 1vw;
    font-size: 40px;
    padding: 5px 15px;
    line-height: 50px;
    color:rgba(216, 188, 116, 0.867);
  }
  .navbar{
    overflow: hidden;
    height: 10%;
    background-image:-webkit-linear-gradient(bottom, #1F1F1F -40%, #18181A);
  }
  
    
  .linkstyle{
    text-decoration: none;
    
  }
  ul {
    list-style-type: none;
  }
  .nav{
    float: left;
    left: 10vw;
    width: auto;
    display: flex;
    flex-direction: row;
    padding: 0px;
    margin: 0px;
    font-family: Courier New, monospace;
    position: relative;
  }
  .nav_user{
    float: right;
    padding: 0px;
    margin: 0px;
    right: 20vw;
    display: flex;
    position: relative;
  }
  .courses{
    line-height: 54px;
    color:rgba(216, 188, 116, 0.867);
    font-size: 20px;
  }
  .nav li{
    text-align:center;
    margin-left: 5%;
    
    padding: 5px 15px;
    
  }

  .lk{
    cursor: pointer;
    font-size: 20px;
    padding: 5px 10px;
    line-height: 45px;
    color:rgba(216, 188, 116, 0.867);
  }
  @media (max-width: 700px) {
    .nav{
      width: 100vw;
    }
    .navbar{
      position: absolute;
    }
    .courses{

    }
    .li_logo{
      text-align: center;
    }
    .nav_user{
      right: 0;
      top:0;
      background-color: white;
    }
    .li_courses{
      float: left;
    }
     /* applied in resolution < = 320px (smartphone) */
    }